.messagesHeader {
    width: 100%;
    padding-top: 65px;
}

.messagesInfoRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 25px 12px 30px;
    h2 {
        font-size: 20px;
        font-weight: 600;
    }
    i {
        font-size: 18px;
    }
}

.messagesContainer {
    width: 100%;
    border-top: 1px solid var(--main);
}

.messages {
    height: 100%;
    overflow: hidden;
    align-items: center;
    justify-items: center;
}

a {
    &:has(.messagesIcon) {
        display: flex;
        align-items: center;
        justify-content: center;
        .messagesIcon {
            top: 1px;
            font-size: 20px;
            position: relative;
        }
    }
}

.messagePreview {
    gap: 15px;
    display: grid;
    cursor: pointer;
    min-height: 130px;
    align-items: center;
    padding: 12px 25px 12px 10px;
    transition: var(--transition);
    grid-template-columns: 70px 1fr;
    border-bottom: 1px solid var(--main);
    &:hover {
        background: rgba(0, 0, 0, 0.35);
    }
}

span {
    &:has(.avatarImage) {
        align-items: center;
        justify-content: center;
        display: flex !important;
        .avatarImage {
            max-height: 70px;
            border-radius: 100%;
        }
    }
}

.messageContent {
    display: flex;
    grid-gap: 5px;
    flex-direction: column;
    .messageContentTop {
        display: flex;
        color: var(--main);
        align-items: center;
        justify-content: space-between;
        h3 {
            font-size: 18px;
            font-weight: 600;
        }
    }
}

.messageContentPreview {
    line-clamp: 3;
    max-width: 95%;
    font-size: 12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.messagesZeroState {
    width: 100%;
    display: flex;
    grid-gap: 5px;
    padding: 50px 0;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}

.messagesPreviewContainer {
    background: var(--navAndFooterBG);
}

.chatMessages {
    height: 100%;
    .swiper {
        height: 100%;
    }
}

.chatsLoader {
    width: 100%;
    padding: 15px;
    &.chatsLoading {
        padding-top: 80px;
    }
}

.chatForm {
    width: 100%;
    display: flex;
    align-items: center;
    max-height: max-content;
    justify-content: center;
    .formField {
        width: 100%;
        display: flex;
        padding: 10px 0 0;
        align-items: center;
        justify-content: center;
        border-top: 1px solid var(--main);
        input {
            width: 95%;
        }
    }
}

.chatSlide {
    .messagesPreviewContainer {
        min-height: 0;
        overflow-y: auto !important;
        .messagePreview {
            &:last-child {
                border-bottom: none !important;
            }
        }
    }
}

html {
    &:has(.chatMessages):has(.chatSlideActive) {
        overflow-y: hidden;
        footer {
            display: none;
        }
    }
}

body {
    &:has(.chatMessages) {
        article {
            max-height: 100dvh;
        }
    }
    &:has(._messages) {
        .nextra-nav-container {
            top: 0;
            position: fixed;
        }
        ._messages {
            article {
                padding: 0;
            }
            .nx-mt-16 {
                display: none;
            }
        }
        &:has(.chatSkeleton) {
            article {
                min-height: calc(93.6dvh) !important;
            }
        }
    }
}