.messagesHeader {
    width: 100%;
    padding-top: 65px;
}

.messagesInfoRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 25px 12px 30px;
    h2 {
        font-size: 20px;
        font-weight: 600;
    }
    i {
        font-size: 18px;
    }
}

.messagesContainer {
    width: 100%;
    border-top: 1px solid var(--main);
}

.messages {
    height: 100%;
    overflow: hidden;
    align-items: center;
    justify-items: center;
}

html, body {
    &:has(._messages) {
        // overflow-y: hidden;
        .nextra-nav-container {
            top: 0;
            position: fixed;
        }
        ._messages {
            article {
                padding: 0;
            }
            .nx-mt-16 {
                display: none;
            }
        }
        &:has(.chatMessages) {
            &:has(.chatSkeleton) {
                padding-top: 50px;
            }
            max-height: 94.5dvh;
            footer {
                bottom: 0;
                z-index: 1;
                width: 100%;
                position: fixed;
                border-top: 1px solid var(--main);
            }
        }
    }
}


a {
    &:has(.messagesIcon) {
        display: flex;
        align-items: center;
        justify-content: center;
        .messagesIcon {
            top: 1px;
            font-size: 20px;
            position: relative;
        }
    }
}

.messagePreview {
    gap: 15px;
    display: grid;
    cursor: pointer;
    min-height: 130px;
    align-items: center;
    padding: 12px 25px 12px 10px;
    transition: var(--transition);
    grid-template-columns: 70px 1fr;
    border-bottom: 1px solid var(--main);
    &:hover {
        background: rgba(0, 0, 0, 0.35);
    }
}

.avatarImage {
    border-radius: 100%;
}

.messageContent {
    display: flex;
    grid-gap: 5px;
    flex-direction: column;
    .messageContentTop {
        display: flex;
        color: var(--main);
        align-items: center;
        justify-content: space-between;
        h3 {
            font-size: 18px;
            font-weight: 600;
        }
    }
}

.messageContentPreview {
    line-clamp: 3;
    max-width: 95%;
    font-size: 12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.messagesZeroState {
    width: 100%;
    display: flex;
    grid-gap: 5px;
    padding: 50px 0;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}

.messagesPreviewContainer {
    background: var(--navAndFooterBG);
}

.chatMessages {
    height: 93%;
    .swiper {
        height: 100%;
    }
}

.chatForm {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    input {
        width: 95%;
    }
}

// .chatSlide {
//     height: 100%;
//     min-height: 0;
//     display: grid !important;
//     grid-template-rows: 1fr auto;
//     .messagesPreviewContainer {
//         min-height: 0;
//         overflow-y: hidden;
//     }
// }