:root {
    --chatsFieldHeight: 35px;
}

.messagesHeader {
    width: 100%;
    padding-top: 65px;
}

.messagesInfoRow {
    display: flex;
    align-items: center;
    padding: 12px 25px 12px 30px;
    justify-content: space-between;
    &:has(.multiselectContainer) {
        grid-gap: 15px;
        padding: 10px 25px 10px 15px;
    }
    &:has(.chatsActionDeleteIconButton) {
        grid-gap: 5px;
        h2 {
            width: 100%;
        }
    }
    h2 {
        font-size: 20px;
        font-weight: 600;
    }
    i {
        font-size: 18px;
    }
}

.messagesContainer {
    width: 100%;
    border-top: 1px solid var(--main);
}

.messages {
    height: 100%;
    overflow: hidden;
    align-items: center;
    justify-items: center;
}

a {
    &:has(.messagesIcon) {
        display: flex;
        align-items: center;
        justify-content: center;
        .messagesIcon {
            top: 1px;
            font-size: 20px;
            position: relative;
        }
    }
}

.messagePreview {
    gap: 15px;
    display: grid;
    min-height: 130px;
    align-items: center;
    padding: 12px 25px 12px 10px;
    transition: var(--transition);
    grid-template-columns: 70px 1fr;
    border-bottom: 1px solid var(--main);
    &.clickableMsg {
        cursor: pointer;
        &:hover {
            background: rgba(0, 0, 0, 0.35);
        }
    }
}

span {
    &:has(.avatarImage) {
        align-items: center;
        justify-content: center;
        display: flex !important;
        .avatarImage {
            max-height: 70px;
            border-radius: 100%;
        }
    }
}

.messageContent {
    display: flex;
    grid-gap: 5px;
    flex-direction: column;
    .messageContentTop {
        display: flex;
        color: var(--main);
        align-items: center;
        justify-content: space-between;
        h3 {
            font-size: 18px;
            font-weight: 600;
        }
    }
}

.messageContentPreview {
    line-clamp: 3;
    max-width: 95%;
    font-size: 12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.messagesHeaderRowTitle {
    line-clamp: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.messagesZeroState {
    width: 100%;
    display: flex;
    grid-gap: 5px;
    padding: 50px 0;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}

.messagesPreviewContainer {
    background: var(--navAndFooterBG);
}

.chatMessages {
    height: 100%;
    .swiper {
        height: 100%;
    }
}

.chatsLoader {
    width: 100%;
    padding: 15px 15px 0;
    &.chatsLoading {
        padding-top: 80px;
    }
}

.disabledFormField {
    opacity: 0.35;
    pointer-events: none;
}

.chatForm {
    width: 100%;
    display: flex;
    align-items: center;
    height: auto !important;
    max-height: fit-content;
    justify-content: center;
    .formField {
        width: 100%;
        grid-gap: 8px;
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid var(--main);
        input {
            width: 90%;
            min-height: var(--chatsFieldHeight) !important;
        }
        button {
            width: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--main);
            min-height: var(--chatsFieldHeight) !important;
            max-height: var(--chatsFieldHeight) !important;
        }
    }
}

.avatarComponent {
    display: flex;
    aspect-ratio: 1;
    font-size: 22px;
    font-weight: 700;
    border-radius: 100%;
    background: black;
    align-items: center;
    justify-content: center;
}

.chatSlide {
    .messagesPreviewContainer {
        min-height: 665px;
        overflow-y: auto !important;
        // &.noChats {
        //     min-height: 730px;
        // }
        // .messagePreview {
        //     &:last-child {
        //         border-bottom: none !important;
        //     }
        // }
    }
}

.multiselectContainer {
    width: 91%;
    z-index: 10;
    overflow: visible;
}

html {
    background: var(--navAndFooterBG);
    &:has(.chatMessages):has(.chatSlideActive) {
        overflow-y: hidden;
        footer {
            display: none;
        }
    }
}

.select__input {
    color: white !important;
}

.chatsActionIconButton {
    width: 10% !important;
    min-height: var(--chatsFieldHeight) !important;
    justify-content: center !important;
}

.closeTag {
    transition: var(--transition);
    &:hover {
        background: var(--main);
        color: var(--navAndFooterBG);
    }
}

body {
    &:has(.chatMessages) {
        article {
            max-height: 100dvh;
        }
    }
    &:has(._messages) {
        .nextra-nav-container {
            top: 0;
            position: fixed;
        }
        ._messages {
            article {
                padding: 0;
            }
            .nx-mt-16 {
                display: none;
            }
        }
        &:has(.chatSkeleton) {
            article {
                // &:has(.chatSlideInactive) {
                    min-height: 93.6dvh !important;
                    max-height: 93.6dvh !important;
                // }
                &:has(.chatSlideActive) {
                    min-height: 100dvh !important;
                }
            }
        }
    }
}