/* Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Caveat */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --html: #f16529;
    --css: #2862e9;
    --js: #f7df1e;
    --php: #7377ad;
    --node: #73ab60;
    --sass: #f783ac;
    --sql: #f783ac;
    --mongo: #00684a;
    --node: #3eb112;
    --git: #e94e31;
    --swift: #f4993a;
    --discord: #7289DA;
    --skeleton: #4c4c4c;
    --bg: #1f1f1f;
    --posterH: 250px;
    --posterW: 165px;
    --steel: #7a7a7a;
    --react: #0fccce;
    --silver: #f2f2f2;
    --ground: #00b900;
    --gameBlue: #00c2ff;
    --softBlack: #1a1a1a;
    --secondary: #3c3c3c;
    --piratechs: #2b4261;
    --softBlack2: #636363;
    --piratechsDark: #10141d;
    --main: rgb(0, 216, 255);
    --authGlass: rgba(0, 0, 0, 0.05);
    --mainTeal: rgba(32, 143, 163, 1);
    --blackGlass: rgba(0, 0, 0, 0.75);
    --silverGlass: rgba(0, 0, 0, 0.35);
    --menuBackground: black !important;
    --piratechsBlue: rgba(1, 47, 74, 1);
    --mainGlass: rgba(255, 28, 11, 0.75);
    --dangerColor: rgba(255, 28, 11, 0.75);
    --softWhite: rgba(255, 255, 255, 0.87);
    --gameBlueSoft: rgba(0, 194, 255, 0.75);
    --softSkyBlue: rgba(132, 169, 177, 1) !important;
    --transition: 0.24s cubic-bezier(0.77, 0.2, 0.05, 1) !important;
}

.line {
    &::before {
        color: var(--softWhite) !important;
    }
}

article {
    padding: 1em 0;
    main {
        max-width: 92rem !important;
        width: 100% !important;
        padding: 0;
    }
}

.nextra-toc {
    width: auto;
    padding: 0 !important;
    margin: 0 !important;
    .nextra-scrollbar {
        p, ul {
            padding: 0 0 1em 2em;
            li {
                position: relative;
                a {
                    font-size: 13px;
                    margin: 0;
                    max-width: 200px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
        div {
            padding: 2em 0 0 2em !important;
        }
    }
}

[dir="ltr"] .ltr\:-nx-mr-4 {
    margin-right: -2rem;
}

html[class~="dark"] .dark\:nx-border-neutral-800 {
    border-color: hsl(var(--nextra-primary-hue)100% 94%/.1) !important;
}

.dark {

    .nx-sticky {
        &:not(.nx-top-0) {
            background: var(--menuBackground) !important;
        }
    }

    html[class~="dark"] .dark\:nx-shadow-\[0_-12px_16px_\#111\] {
        background: var(--menuBackground) !important;
    }

    aside {
        border-right: solid 1px var(--bg);
        background: var(--menuBackground) !important;
    }

    body {
        background: var(--menuBackground) !important;
    }

    article {
        background: var(--piratechsBlue);
    }

    .nextra-toc {
        border-left: solid 1px var(--bg);
    }

    header, nav, .nextra-nav-container-blur {
        backdrop-filter: blur(8px);
        --tw-shadow: 0 -12px 16px #111;
        background: transparent !important;
        border-bottom: solid 1px var(--bg);
        @supports (-webkit-backdrop-filter:blur(8px)) or ((-webkit-backdrop-filter: blur(8px)) or (backdrop-filter: blur(8px))) {
            html[class~="dark"] .nextra-nav-container-blur {
                background: transparent !important;
            }
        }
        @supports (-webkit-backdrop-filter:blur(1px)) or ((-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))) {
            html[class~="dark"] .nextra-nav-container-blur {
                background: transparent !important;
            }
        }
    }
    
    html[class~=dark] .dark\:nx-bg-dark {
        background: black !important;
    }

    footer {
        div {
            background: black;
        }
    }

}

.textOverflow {
    &:not(.extended) {
        max-width: 60%;
    }
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}

html[class~=dark] .dark\:nx-bg-dark {
    padding: 1em;
    margin: 0;
}

html[class~=dark] .dark\:nx-text-neutral-500, html[class~=dark] .dark\:nx-text-gray-400 {
    transition: var(--transition) !important;
    color: var(--softWhite) !important;
    &:hover {
        color: white !important;
    }
}

.nx-max-w-\[90rem\] {
    max-width: 100% !important;
    padding: 0em;
}

@media (min-width: 768px) {
    aside {
        width: auto !important;
    }
}

// @media (max-width: 767px) {
//     .navFormSection {
//         display: none !important;
//     }
// }

@media (max-width: 1215px) {
    .navFormSection {
        display: none !important;
    }
}

footer {
    div {
        padding: 1em !important;
    }
}

.logo {
    padding: .5rem .5rem .5rem 0;
}

body {
    overflow-x: hidden;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

section {
    width: 100%;
    height: auto;
    display: flex;
    grid-gap: 1em;
    margin: 0 auto;
    padding: 1em 0;
    overflow: visible;
    align-items: center;
    justify-content: space-between;

    * {
        width: 100%;
        height: auto;
        display: flex;
        grid-gap: 1em;
        flex-direction: column;
    }
}

.customButtons {
    button,input[type="submit"] {
        border: 0;
        padding: 10px;
        outline: none;
        cursor: pointer;
        border-radius: 4px;
        font-family: 'Montserrat';
        color: white !important;
        background: var(--blackGlass);
        transition: var(--transition);

        &.rowButton {
            margin-top: -17px;
        }

        &:not([type="button"]) {
            &:hover {
                filter: invert(1);
                box-shadow: 0 0 8px 0px black;
            }
        }

        &:focus {
            // Active or Was Pushed
            filter: invert(1) brightness(1.5);
        }

        &:active {
            // On Click
            transform: scale(1.01);
            box-shadow: inset 0 0 8px 0px black;
        }
    }

}

// ::-webkit-scrollbar {
//     position: relative;
//     border-radius: 4px;
//     width: 4px !important;
//     background: black !important;
// }

// ::-webkit-scrollbar-thumb {
//     background: var(--gameBlue);
//     border-radius: 4px;
// }

// ::-webkit-scrollbar {
//     position: relative;
//     border-radius: 4px;
//     width: 4px !important;
//     background: var(--blackGlass) !important;
// }

// ::-webkit-scrollbar-thumb {
//     background: var(--softWhite);
//     border-radius: 4px;
// }

.nextra-search {
    input {
        border: 0 !important;
        outline: none !important;
    }
}

form {
    height: 100% !important;
    input {
        font-size: 12px;
        max-height: 34px;
        font-weight: 300;
        // filter: invert(1);
        border-radius: 4px;
        padding: 10px 25px;
        border: 1px solid var(--gameBlueSoft) !important;
        outline: none !important;
        font-family: "Montserrat";
        background: var(--blackGlass);
        transition: var(--transition);
        color: white !important;
        // box-shadow: 0 0 10px var(--gameBlueSoft),0 0 20px var(--gameBlueSoft);

        label {
            padding: 50px !important;
            // top: -5px;
            // position: relative;
        }
        
    
        &::placeholder {
            color: white;
        }
    
        &[type="color"] {
            border: 0;
            padding: 1em;
            outline: none;
            min-height: 60px;
            border-radius: 4px;
            position: relative;
    
            &::before {
                transform: translate(-50%, -50%);
                content: attr(data-color);
                position: absolute;
                top: 50%;
                left: 50%;
                color: white;
                font-weight: 500;
                height: 28px;
                width: 96.5%;
                // border: solid 2px var(--blackGlass);
                display: flex;
                justify-content: center;
                align-items: center;
            }
    
            &.dark {
                &::before {
                    color: white;
                }
            }
    
            &.light {
                &::before {
                    color: black;
                }
            }
        }
    }
}

// .alert {
//     top: 50%;
//     left: 50%;
//     width: 450px;
//     height: 450px;
//     display: flex;
//     padding: 40px;
//     position: fixed;
//     border-radius: 4px;
//     align-items: center;
//     flex-direction: column;
//     justify-content: center;
//     backdrop-filter: blur(5px);
//     background: var(--blackGlass);
//     transition: var(--transition);
//     box-shadow: 0 0 8px 0px black;
//     transform: translate(-50%, -50%);

//     &.slim {
//         height: 120px;
//     }

//     button {
//         position: absolute;
//         filter: invert(1);
//         right: 15px;
//         top: 15px;
//     }

//     h3,
//     p {
//         padding: 5px 0;
//         text-align: center;
//     }
// }

.lists {
    grid-gap: 1em;
    display: flex;
    margin: 0 auto;
    overflow: visible;
    align-items: flex-start;
    width: calc(var(--containerWidth));

    .buttonLabel {
        justify-content: flex-start;
    }

    .list {
        width: 100%;
        position: relative;
        border-radius: 4px;
        background: var(--gameBlueSoft) !important;

        h2 {
            color: white;
        }

        /* Neumorphic Inner shadow */
        box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);

        /* Neumorphic Outer shadow */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1),
        0px 0px 20px rgba(0, 0, 0, 0.05);

        .items {
            gap: 1em;
            display: grid;
            width: 100% !important;
            transition: var(--transition);

            &.oneList {
                padding: 2em 0 !important;
                grid-template-columns: auto auto auto auto !important;
            }

            &.twoList {
                padding: 1em 0 !important;
                grid-template-columns: auto auto !important;
            }

            &.bigList {
                max-width: 100% !important;
                grid-template-columns: auto auto !important;
            }

            .item {
                cursor: grab;
                padding: 0em;
                display: flex;
                grid-gap: 20px;
                min-height: 35px;
                font-size: 0.85em;
                position: relative;
                border-radius: 4px;
                align-items: center;
                background: var(--blackGlass);
                transition: var(--transition);

                /* Neumorphic Inner shadow */
                box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);

                /* Neumorphic Outer shadow */
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 0px 20px rgba(0, 0, 0, 0.05);

                span {
                    width: 100%;
                    max-height: 100%;
                }

                .itemButtons {
                    display: grid;
                    position: relative;
                    max-width: 125px !important;
                    grid-template-columns: auto auto;

                    button {
                        padding: 0;
                        max-width: 100%;
                        position: relative;
                        background: white;
                        width: 25px !important;
                        max-height: 9px !important;

                        i {
                            color: black;
                            pointer-events: none;
                        }

                        &:hover {
                            i {
                                color: var(--gameBlue);
                            }
                        }
                    }
                }

                &:hover {
                    filter: invert(1);

                    .itemOrder {

                        // filter: invert(1);
                        .itemIndex {
                            filter: invert(1);
                        }
                    }
                }

                .itemOrder {
                    width: 45px;
                    display: flex;
                    padding: 1em 0;
                    max-height: 100%;
                    font-weight: 700;
                    align-items: center;
                    background: white;
                    color: var(--gameBlue);
                    justify-content: center;
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                    transition: var(--transition);

                    .itemIndex {
                        transition: var(--transition);
                    }
                }

                .itemName {
                    font-weight: 500 !important;
                    transition: var(--transition);
                }

                &.complete {
                    filter: invert(1);
                    background: var(--authGlass);

                    .itemOrder {
                        background: transparent;
                        color: white;
                    }

                    .itemName {
                        min-width: 215px !important;
                        text-decoration-thickness: 0;
                        text-decoration: line-through;
                        text-decoration-color: black;
                    }
                }
            }
        }
    }
}

// .emphasis {
//     color: var(--gameBlue);
//     margin: 0 0.3em;
//     font-size: 1.1em;
//     font-weight: 700;
//     font-style: italic;

//     &.white {
//         color: white !important;
//     }

//     // -webkit-text-stroke-width: 1px; 
//     // -webkit-text-stroke-color: var(--gameBlue); 
// }

// .sectionImage {
//     width: 100%;
//     height: auto;
//     margin: 1em 0;
//     max-height: 350px;
// }

footer {
    height: 40px;
    display: flex;
    grid-gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .hoverLink {
        &::before {
            bottom: -5px;
            height: 1px;
        }
    }

    div {
        display: flex;
        grid-gap: 1em;
        align-items: center;
    }

    .vertical-sep,
    i {
        color: var(--main);

        &.fas.fa-undo {
            font-size: 0.8em;
            margin-bottom: 0em;
        }
    }

    .inner {
        .right {

            img,
            svg {
                fill: var(--main);

                path {
                    fill: var(--main);
                }
            }

            .piratechs {
                max-height: 15px;
                fill: var(--main);
                margin: 0 -7px 1px 0;

                path {
                    fill: var(--main);
                }

                img,
                svg {
                    fill: var(--main);

                    path {
                        fill: var(--main);
                    }
                }
            }
        }
    }
}

// @keyframes fadeIn {
//     0% {
//         opacity: 0;
//         pointer-events: none;
//     }

//     100% {
//         opacity: 1;
//         pointer-events: all;
//     }
// }

// @keyframes logo-spin {
//     0% {
//         transform: rotate(0);
//     }

//     100% {
//         transform: rotate(360deg);
//     }
// }

// .hoverLink {
//     display: flex;
//     grid-gap: 0.3em;
//     align-items: center;
//     position: relative;
//     transition: var(--transition);

//     &::before {
//         content: "" !important;
//         background: var(--main);
//         position: absolute;
//         width: 100%;
//         height: 2px;
//         display: block;
//         bottom: -10px;
//         right: 0;
//         z-index: 0;
//         transform-origin: 0% 100%;
//         transform: scale(0, 1);
//         transition: var(--transition);
//     }

//     &:hover {
//         transition: var(--transition);

//         &::before {
//             transform: scale(1, 1);
//             transition: 500ms ease-in-out;
//         }
//     }
// }

// @media (prefers-color-scheme: dark) {
//     html {
//         color-scheme: dark;
//     }
// }

// #scroll-text {

//     width: 235%;
//     // overflow: hidden;
//     text-overflow: clip;
//     white-space: nowrap;

//     /* animation properties */
//     transform: translateX(100%);
//     -moz-transform: translateX(100%);
//     -webkit-transform: translateX(100%);
//     animation: my-animation 20s linear infinite;
//     -moz-animation: my-animation 20s linear infinite;
//     -webkit-animation: my-animation 20s linear infinite;

//     /* for Firefox */
//     @-moz-keyframes my-animation {
//         from {
//             -moz-transform: translateX(100%);
//         }

//         to {
//             -moz-transform: translateX(-100%);
//         }
//     }

//     /* for Chrome */
//     @-webkit-keyframes my-animation {
//         from {
//             -webkit-transform: translateX(100%);
//         }

//         to {
//             -webkit-transform: translateX(-100%);
//         }
//     }
// }

// @keyframes my-animation {
//     from {
//         -moz-transform: translateX(100%);
//         -webkit-transform: translateX(100%);
//         transform: translateX(100%);
//     }

//     to {
//         -moz-transform: translateX(-100%);
//         -webkit-transform: translateX(-100%);
//         transform: translateX(-100%);
//     }
// }

// @media (max-width: 697px) {
//     header {
//         height: 150px;
//     }

//     body {
//         font-size: 28px;
//     }

//     main {
//         padding: 1em 0;
//     }

//     #openMenuToggler span {
//         height: 5px;
//     }

//     button,
//     input[type="submit"] {
//         font-size: 0.85em;
//     }
// }

// /* Show Scores */
// #scoresHover {
//     position: absolute;
//     top: 45px;
//     left: 0;
//     opacity: 0;
//     width: 450%;
//     border-radius: 10px;
//     padding: 2em;
//     background: var(--blackGlass);
//     backdrop-filter: blur(8px);
//     text-align: left;
//     transform-origin: top;
//     transform: scale(1, 0);
//     display: flex;
//     flex-direction: column;
//     grid-gap: 1em;
//     transition: 300ms ease-in-out;
// }

// .showScoresLink:hover #scoresHover {
//     transform: scale(1, 1);
//     opacity: 1;
// }

// .fadeInOut {
//     animation: fadeInOut 3500ms ease-in-out 1;
// }

// @keyframes fadeInOut {
//     0% {
//         transform: scale(1, 0);
//         opacity: 0;
//     }

//     20% {
//         opacity: 0;
//         transform: scale(1, 0.4);
//     }

//     30% {
//         transform: scale(1, 1);
//         opacity: 1;
//     }

//     50% {
//         transform: scale(1, 1);
//         opacity: 1;
//     }

//     80% {
//         transform: scale(1, 1);
//         opacity: 1;
//     }

//     100% {
//         transform: scale(1, 0);
//         opacity: 0;
//     }
// }

// .attention {
//     position: relative;
//     border: solid var(--dangerColor) 3px;
//     box-shadow: 0px 0px 4px 1px var(--dangerColor);
//     animation: shake 1s ease-in-out infinite alternate-reverse;
// }

// @keyframes shake {
//     0% {
//         left: 0px;
//         top: 0px;
//     }

//     33% {
//         left: -1px;
//         top: -1px;
//     }

//     66% {
//         left: 1px;
//         top: 1px;
//     }

//     100% {
//         left: 0px;
//         top: 0px;
//     }
// }