:root {
    --selectorMainBG: white;
    --selectorMainFont: black;
    --selectorInverseFont: white;
    --selectorMainIcon: var(--gameBlue);
    --selectorHeight: var(--buttonSize);
    --selectorInverseBG: var(--blackGlass);
}

@mixin flexed {
    width: 100%;
    display: flex !important;
    align-items: center !important;
}

@mixin noBorderNoOutline {
    border: none !important;
    outline: none !important;
}

@mixin setHeight($height: var(--selectorHeight)) {
    height: $height !important;
    min-height: $height !important;
    max-height: $height !important;
}

.selectorOptionLabel {
    font-weight: 600;
}

.gridsIcon {
    color: var(--selectorMainIcon);
}

.multiSelectedIconLabels {
    display: flex;
    align-items: center;
}

.multiSelectOptionInputField {
    width: 100%;
    display: flex;
}

.clearOptionIcon {
    width: 0;
    margin-left: -10px;
    font-size: 0 !important;
    transition: var(--transition);
}

.listedOptionContainer {
    width: 100%;
    display: flex;
    grid-gap: 10px;
    align-items: center;
    padding: 5px 0 5px 7px;
    justify-content: flex-start;
    .listedOptionIndexField {
        position: relative;
        .listedOptionIndexBadge {
            top: 50%;
            left: 50%;
            width: 28px;
            padding: 3px;
            border-radius: 50%;
            position: absolute;
            color: rgba(0, 0, 0, 0.66);
            transform: translate(-50%, -50%);
            background: rgba(255, 255, 255, 0.52);
        }
    }
    .listedOptionIcon {
        transition: var(--transition);
        color: var(--selectorMainIcon);
    }
    .listedOptionLabel {
        font-weight: 500;
    }
}

.multiSelectorOption {
    .invertedColorBadge {
        color: rgba(255, 255, 255, 1);
        background: rgba(255, 255, 255, 0.15);
    }
    &[aria-selected="true"] {
        .listedOptionIndexBadge {
            @extend .invertedColorBadge;
        }
    }
    &[aria-selected="false"] {
        &:hover {
            .listedOptionIndexBadge {
                @extend .invertedColorBadge;
            }
        }
    }
}

.selectedOptionsElement {
    position: relative;
    .multiSelectOptionInputField {
        top: 0;
        width: 100%;
        position: absolute;
        input {
            opacity: 0;
        }
    }
    .multiSelectorOptionsContainer {
        width: 100% !important;
    }
    &.multiSelectedOptionsElement {
        .multiSelectedOption {
            &.isLast {
                margin-right: 0 !important;
            }
        }
        .multiSelectedOption {
            &:hover {
                .clearOptionIcon {
                    width: auto;
                    margin-left: 0;
                    font-size: 14px !important;
                }
            }
        }
    }
    &.singleSelectedOptionsElement {
        min-width: 120px;
        .singleSelectedOptionsContainer {
            width: 100%;
        }
        .multiSelectOption {
            width: 92%;
        }
        .multiSelectedOption {
            width: 100% !important;
            padding: 0 3px 0 10px !important;
        }
        &:hover {
            .multiSelectedOption, .multiSelectOptionInputField {
                cursor: pointer;
                box-shadow: 0 0 5px white;
            }
        }
    }
}

.multiSelectorComponent {
    width: 100%;
    font-size: 14px;
    position: relative;
    @include setHeight();
    color: var(--selectorInverseFont);
    .multiSelector {
        @include flexed;
        @include setHeight();
        .multiSelectOptionContainer {
            padding: 0 1px;
            @include flexed;
            flex-wrap: nowrap;
            flex-direction: row;
            @include setHeight();
            @include noBorderNoOutline;
            background: var(--selectorInverseBG);
            border-radius: var(--borderRadius) !important;

            &:hover {
                border-color: #177ddc;
            }
            
            &.focused {
                border-color: #177ddc;
                box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
            }

            .multiSelectOption {
                @include setHeight();
                .multiSelectedOption {
                    margin: 0px;
                    display: flex;
                    column-gap: 10px;
                    overflow: hidden;
                    line-height: 29px;
                    width: max-content;
                    flex-direction: row;
                    align-items: center;
                    @include setHeight();
                    padding: 0 15px 0 10px;
                    box-sizing: content-box;
                    @include noBorderNoOutline;
                    color: var(--selectorMainFont);
                    background: var(--selectorMainBG);
                    
                    &.isFirst {
                        margin-right: 3px;
                        &.gridsIconRow {
                            border-top-left-radius: var(--borderRadius);
                            border-bottom-left-radius: var(--borderRadius);
                        }
                    }

                    &.isMiddle {
                        margin-right: 3px;
                    }

                    .selectedOptionIcon {
                        color: var(--selectorMainIcon);
                    }
                }
            }
            .gridsIconButon {
                .multiSelectedOption {
                    padding: 0 10px;
                }
            }
            .multiSelectOptionInput {
                border: 0;
                margin: 0;
                outline: 0;
                flex-grow: 1;
                @include setHeight();
                width: 100% !important;
                box-sizing: border-box;
                background-color: unset;
                padding: 4px 6px 4px 15px;
                max-width: 100% !important;
                color: var(--selectorInverseFont);
                background: var(--selectorInverseBG);
                &.hasOptionsInput {
                    margin-right: 3px;
                }
                &.noOptionsInput {
                    border-top-left-radius: var(--borderRadius);
                    border-bottom-left-radius: var(--borderRadius);
                }
                &::placeholder {
                    opacity: 0.5;
                }
            }
            .clearAllTagsIcon {
                display: flex;
                padding: 0 16px;
                font-weight: 600;
                align-items: center;
                @include setHeight();
                justify-content: center;
                background: var(--selectorMainBG);
                color: var(--selectorMainIcon) !important;
                border-top-right-radius: var(--borderRadius);
                border-bottom-right-radius: var(--borderRadius);
            }
        }
    }
    .multiSelectorOptionsContainer {
        z-index: 2;
        padding: 0;
        width: 80%;
        grid-gap: 3px;
        display: flex;
        overflow: auto;
        margin: 42px 0 0;
        list-style: none;
        position: absolute;
        flex-direction: column;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.7);
        border-radius: var(--borderRadius);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        .multiSelectorOption {
            width: 100%;
            padding: 1px 0 1px 5px;
            backdrop-filter: blur(5px);
            color: var(--selectorMainFont);
            background: var(--selectorMainBG);
    
            &:hover {
                color: var(--selectorMainBG);
                background: var(--selectorMainFont);
            }
    
            &.isFirst {
                border-top-left-radius: var(--borderRadius);
                border-top-right-radius: var(--borderRadius);
            }
    
            &.isLast {
                border-bottom-left-radius: var(--borderRadius);
                border-bottom-right-radius: var(--borderRadius);
            }
    
            &[aria-selected="true"] {
                font-weight: 600;
                color: white !important;
                background: var(--gameBlue) !important;
    
                &:hover {
                    filter: brightness(1.15);
                }
              
                svg {
                    color: #1890ff;
                }

                .listedOptionIcon {
                    color: var(--selectorInverseBG);
                }
            }
        }
    }
}

select {
    &.customSelect {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        &::-ms-expand {
            display: none;
        }
    }
}