.section {
    width: 100%;
    height: auto;
    display: flex;
    grid-gap: 1em;
    margin: 0 auto;
    padding: 1em 0;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;

    .article {
        width: 100%;
        height: auto;
        display: flex;
        grid-gap: 1em;
        flex-direction: column;
    }
}

.inner {
   display: flex;
   margin: 0 auto;
   align-items: center;
   width: var(--containerWidth);
   justify-content: space-between;
   &.pageInner {
       width: 100%;
       flex-direction: column;
   }
}

.column {
   display: flex;
   flex-direction: column;
   &.rightColumn {
       text-align: right;
       align-items: flex-end;
       justify-content: flex-end;
   }
}

.overflow {
   .article {
       overflow-x: hidden;
       overflow-y: overlay;
       padding-right: 10px;
       max-height: 110px;
       &::-webkit-scrollbar {
           position: relative;
           border-radius: 4px;
           width: 4px !important;
           background: black !important;
       }
       &::-webkit-scrollbar-thumb {
           background: var(--gameBlue);
           border-radius: 4px;
       }
   }
}

.task {
    cursor: grab;
}

.form {
    height: 100% !important;
}

.input {
    border: 0;
    padding: 10px;
    outline: none;
    border-radius: 4px;
    font-family: 'Montserrat';
    color: white !important;
    background: var(--blackGlass);
    transition: var(--transition);
    &::placeholder {
        color: var(--softWhite);
    }
    &[type="color"] {
        border: 0;
        padding: 1em;
        outline: none;
        min-height: 60px;
        border-radius: 4px;
        position: relative;
        &::before {
            transform: translate(-50%, -50%);
            content: attr(data-color);
            position: absolute;
            top: 50%;
            left: 50%;
            color: white;
            font-weight: 500;
            height: 28px;
            width: 96.5%;
            // border: solid 2px var(--blackGlass);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &.dark {
            &::before {
                color: white;
            }
        }
        &.light {
            &::before {
                color: black;
            }
        }
    }
}

.button, .submit {
    border: 0;
    padding: 10px;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Montserrat';
    color: white !important;
    background: var(--blackGlass);
    transition: var(--transition);
    &.rowButton {
        margin-top: -17px;
    }
    &:hover { // Mouse Over
        filter: invert(1);
        box-shadow: 0 0 8px 0px black;
    }
    &:focus { // Active or Was Pushed
        filter: invert(1) brightness(1.5);
    }
    &:active { // On Click
        transform: scale(1.01);
        box-shadow: inset 0 0 8px 0px black;
    }
}

.submit {
    &[name="authFormBack"] {
        width: 49% !important;
        margin-left: auto;
        margin-top: -26px;
    }
    &[name="authFormSubmit"].half {
        width: 49% !important;
        margin-right: auto;
        margin-bottom: -26px;
    }
    &[name="authFormSave"] {
        width: 49% !important;
        margin-left: auto;
        margin-top: -26px;
    }
}