.section {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1em;
  margin: 0 auto;
  padding: 1em 0;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section .article {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: var(--containerWidth);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inner.pageInner {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column.rightColumn {
  text-align: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.overflow .article {
  overflow-x: hidden;
  overflow-y: overlay;
  padding-right: 10px;
  max-height: 110px;
}

.overflow .article::-webkit-scrollbar {
  position: relative;
  border-radius: 4px;
  width: 4px !important;
  background: black !important;
}

.overflow .article::-webkit-scrollbar-thumb {
  background: var(--gameBlue);
  border-radius: 4px;
}

.task {
  cursor: -webkit-grab;
  cursor: grab;
}

.form {
  height: 100% !important;
}

.input {
  border: 0;
  padding: 10px;
  outline: none;
  border-radius: 4px;
  font-family: 'Montserrat';
  color: white !important;
  background: var(--blackGlass);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.input::-webkit-input-placeholder {
  color: var(--softWhite);
}

.input:-ms-input-placeholder {
  color: var(--softWhite);
}

.input::-ms-input-placeholder {
  color: var(--softWhite);
}

.input::placeholder {
  color: var(--softWhite);
}

.input[type="color"] {
  border: 0;
  padding: 1em;
  outline: none;
  min-height: 60px;
  border-radius: 4px;
  position: relative;
}

.input[type="color"]::before {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: attr(data-color);
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-weight: 500;
  height: 28px;
  width: 96.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input[type="color"].dark::before {
  color: white;
}

.input[type="color"].light::before {
  color: black;
}

.button, .submit {
  border: 0;
  padding: 10px;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Montserrat';
  color: white !important;
  background: var(--blackGlass);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.button.rowButton, .submit.rowButton {
  margin-top: -17px;
}

.button:hover, .submit:hover {
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-box-shadow: 0 0 8px 0px black;
          box-shadow: 0 0 8px 0px black;
}

.button:focus, .submit:focus {
  -webkit-filter: invert(1) brightness(1.5);
          filter: invert(1) brightness(1.5);
}

.button:active, .submit:active {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: inset 0 0 8px 0px black;
          box-shadow: inset 0 0 8px 0px black;
}

.submit[name="authFormBack"] {
  width: 49% !important;
  margin-left: auto;
  margin-top: -26px;
}

.submit[name="authFormSubmit"].half {
  width: 49% !important;
  margin-right: auto;
  margin-bottom: -26px;
}

.submit[name="authFormSave"] {
  width: 49% !important;
  margin-left: auto;
  margin-top: -26px;
}
/*# sourceMappingURL=list.module.css.map */