.customContextMenuOptions { 
    margin: 0; 
    padding: 0; 
    list-style: none; 
    .customContextMenuOption { 
        font-size: 16px;
        text-align: left;
        font-weight: bold;
        padding: 5px 25px; 
        font-style: italic;
        align-items: center;
        justify-content: flex-start;
        &:not(.disabledOption) {
            cursor: pointer; 
            transition: var(--transition);
            i, span {
                pointer-events: none !important;
            }
            &:hover {
                color: black;
                background: rgba(191, 230, 244, 0.95);
            }
        }
        &:first-child {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        &:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        &:not(:last-child) {
            border-bottom: 1px solid var(--gameBlue);
        }
    }
}