.websiteURL {
    height: 100%; 
    display: flex; 
    grid-gap: 3px; 
    align-items: center; 
    min-height: 15px !important;
    max-height: 15px !important;
    padding: 0 1px 0 4px !important;
    .tagImage {
        top: 1px;
        max-width: 10px;
        max-height: 10px;
        position: relative;
    }
}

.urlDeleteBtn {
    padding: 0;
    display: flex;
    min-width: 12px;
    text-align: left;
    max-height: 10.5px;
    align-items: center;
    max-width: fit-content;
    justify-content: center;
}

.tasksContainer {
    .urlDeleteBtn {
        top: -3px;
        position: relative;
    }
}

.itemTags {
    grid-gap: 5px;
    display: flex;
    flex-direction: row;
    min-width: fit-content;
}

.taskMainWrap {
    &:has(.status_Active) {
        &:hover {
            filter: brightness(1.15) !important;
        }
    }
}

.detailViewProgress {
    min-width: 150px;
}

@mixin hoverGlow {
    height: 100%;
    min-height: 33px;
    max-height: 33px;
    background: white;
    color: var(--gameBlue);
    width: var(--buttonSize);
    font-weight: 400 !important;
    transition: var(--transition);
    font-size: var(--buttonSize) !important;
    &:hover {
        box-shadow: 0 0 10px white;
    }
}

input {
    &.boardNameField {
        margin-right: 0 !important;
        margin-left: -3px !important;
    }
}

button {
    &.hoverGlow {
        @include hoverGlow;
    }
}

.hoverBright {
    transition: var(--transition);
    &:hover {
        cursor: pointer;
        box-shadow: 0 0 10px white;
    }
}

.pageWrapContainer {
    &.signed_out {
        .createBoard {
            display: none !important;
        }
        &.users_loading {
            .nav_Form {
                width: 100%;
            }
        }
    }
}

.optionActive {
    background: black !important;
    transition: var(--transition) !important;
    span {
        color: white !important;
    }
}

.pointerEventsNone { pointer-events: none !important; }

// * {
//     --main: var(--grass);
//     --gameBlue: var(--main);
//     --gameBlueSoft: var(--main);
//     transition: var(--transition);
//     --selectorMainIcon: var(--main);
//     --mainDark: rgba(3, 48, 24, 1);
//     --piratechsBlue: var(--mainDark);
//     --navAndFooterBG: var(--mainDark);
//     &.logo {
//         path {
//             fill: var(--main);
//         }
//     }
// }