.attachmentsSliderWrapper {
    max-width: 400px;
}

.attachmentsContainer {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.attachments {
    gap: 15px;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(0, 170px));
}

.attachmentSlide {
    max-width: fit-content;
    &.multiSlides {
        cursor: grab;
        &:active {
            cursor: grabbing;
        }
    }
}

.itemDescriptionPreview {
    height: 100%;
    padding: 15px;
    max-height: 140px;
    max-width: 100% !important;
    overflow-y: auto !important;
    transition: var(--transition);
    background: var(--darkCheckBox);
    border-radius: var(--borderRadius);
    border: 1px solid var(--darkCheckBox);
    p {
        padding: 0 !important;
        text-align: left !important;
    }
    &:hover {
        border: 1px solid var(--gameBlue);
    }
}

.itemDescriptionEditorField {
    width: 100%;
    height: 100%;
    overflow: auto;
    max-height: 140px;
    border: none !important;
    background: var(--darkCheckBox) !important;
    .toolbar {
        top: 0;
        z-index: 1;
        position: sticky;
        background: var(--darkCheckBoxSolid) !important;
    }
    div {
        &:has(.customRichTextEditor) {
            height: 100%;
            .customRichTextEditor {
                height: 100%;
                max-height: 82px;
                border-radius: var(--borderRadius);
                p {
                    padding: 5px;
                    text-align: left;
                }
                &:focus-visible {
                    --tw-ring-opacity: 0 !important;
                    --tw-ring-color: transparent !important;
                    --tw-ring-offset-color: transparent !important;
                }
            }
        }
    }
    .toolbar {
        button {
            width: 100%;
            border-radius: var(--borderRadius);
        }
    }
}

.websiteURL {
    height: 100%; 
    display: flex; 
    grid-gap: 3px; 
    align-items: center; 
    min-height: 15px !important;
    max-height: 15px !important;
    padding: 0 1px 0 4px !important;
    .tagImage {
        top: 1px;
        max-width: 10px;
        max-height: 10px;
        position: relative;
    }
}

.urlDeleteBtn {
    padding: 0;
    display: flex;
    min-width: 12px;
    text-align: left;
    max-height: 10.5px;
    align-items: center;
    max-width: fit-content;
    justify-content: center;
}

.tasksContainer {
    .urlDeleteBtn {
        top: -3px;
        position: relative;
    }
}

.itemTags {
    display: flex;
    grid-gap: 10px;
    align-items: center;
    flex-direction: row;
    min-width: fit-content;
}

.itemTagURLs {
    display: flex;
    grid-gap: 10px;
    align-items: center;
    flex-direction: column;
    @container (min-width: 740px) {
        flex-direction: row;
    }
}

.itemDescriptionField {
    resize: none;
}

.taskMainWrap {
    &:has(.status_Active) {
        &:hover {
            filter: brightness(1.15) !important;
        }
    }
}

.detailViewProgress {
    min-width: 150px;
}

@mixin hoverGlow {
    height: 100%;
    min-height: 33px;
    max-height: 33px;
    background: white;
    color: var(--gameBlue);
    width: var(--buttonSize);
    font-weight: 400 !important;
    transition: var(--transition);
    font-size: var(--buttonSize) !important;
    &:hover {
        box-shadow: 0 0 10px white;
    }
}

input {
    &.boardNameField {
        margin-right: 0 !important;
        margin-left: -3px !important;
    }
}

button {
    font-family: var(--font) !important;
    &.hoverGlow {
        @include hoverGlow;
    }
}

.hoverBright {
    transition: var(--transition);
    &:hover {
        cursor: pointer;
        box-shadow: 0 0 10px white;
    }
}

.pageWrapContainer {
    &.signed_out {
        .createBoard {
            display: none !important;
        }
        &.users_loading {
            .nav_Form {
                width: 100%;
            }
        }
    }
}

.optionActive {
    background: black !important;
    transition: var(--transition) !important;
    span {
        color: white !important;
    }
}

.pointerEventsNone { pointer-events: none !important; }

// * {
//     --main: var(--grass);
//     --gameBlue: var(--main);
//     --gameBlueSoft: var(--main);
//     transition: var(--transition);
//     --selectorMainIcon: var(--main);
//     --mainDark: rgba(3, 48, 24, 1);
//     --piratechsBlue: var(--mainDark);
//     --navAndFooterBG: var(--mainDark);
//     &.logo {
//         path {
//             fill: var(--main);
//         }
//     }
// }