.timeComponent {
    font-weight: 500;
    min-width: max-content;
}

.boardTask {
    &.active {
        background: var(--lightGradient) !important;
        input[type="checkbox"] {
            &::before {
                content: "○";
                padding: 0px 8px!important;
                color: var(--gameBlue) !important;
            }
        }
    }
}