.timeComponent {
    font-weight: 500;
    min-width: max-content;
}

.statusFieldInner {
    grid-gap: 5px;
    flex-direction: row;
    align-items: center;
}

.statSymbol {
    text-transform: none;
}

// .itemFooter {
//     .slashesSymbol {
//         font-size: 0px;
//         color: transparent;
//         max-width: 0px !important;
//         letter-spacing: 0 !important;
//     }
// }