.Toastify__toast-container {
    --toastify-color-dark: var(--blackGlass);
    --toastify-container-width: calc(auto + 20px);
    --toastify-toast-min-height: auto;
    .Toastify__toast {
        width: 100%;
        display: flex;
        font-weight: 600;
        flex-direction: row;
        font-family: "Montserrat";
        backdrop-filter: blur(5px);
        .Toastify__close-button {
            display: none;
        }
    }
}