.Toastify__toast-container {
    --toastify-container-width: 350px;
    --toastify-toast-min-height: auto;
    .Toastify__toast {
        width: 100%;
        display: flex;
        flex-direction: row;
        .Toastify__close-button {
            display: none;
        }
    }
}