.Toastify__toast-container {
    --toastify-container-width: 350px;
    --toastify-toast-min-height: auto;
    .Toastify__toast {
        width: 100%;
        display: flex;
        font-weight: 600;
        flex-direction: row;
        font-family: "Montserrat";
        .Toastify__close-button {
            display: none;
        }
    }
}