.hidden { display: none; }
.flexThis { display: flex; }
.fit { max-width: fit-content; }
.blurred { filter: blur(15px); }
.rowThis { flex-direction: row; }
.cursorPointer { cursor: pointer; }
.cursorAuto { cursor: auto !important; }
.transition { transition: var(--transition); }

.cursorGrab {
    cursor: grab !important;
    &:has(:active) {
        cursor: grabbing !important;
    }
}

.highlightSearchMatch {
    border-radius: var(--borderRadius);
}

@mixin setWidth($width) {
    width: $width !important;
    min-width: $width !important;
    max-width: $width !important;
}

@mixin setHeight($height) {
    height: $height !important;
    min-height: $height !important;
    max-height: $height !important;
}

.w100, .fullw, .fullwidth, .fullW, .fullWidth {
    --fullWidth: 100% !important;
    @include setWidth(var(--fullWidth));
}

.stretch {
    --fullWidth: 100% !important;
    @include setHeight(var(--fullWidth));
    &.boardIndexAndTitle {
        --fullWidth: 74% !important;
    }
}

article {
    &:has(main.nx-w-full) {
        padding-top: 10px !important;
        padding-left: max(env(safe-area-inset-left), 1.5rem);
        padding-right: max(env(safe-area-inset-right), 1.5rem);
        main {
            padding: 0;
            width: 100% !important;
            min-width: 100% !important;
            max-width: 100% !important;
            div {
                &.nx-mt-16, &.nx-mb-8 {
                    display: none;
                }
            }
        }
    }
}