.gap5 { grid-gap: 5px; }
.gap10 { grid-gap: 10px; }
.gap15 { grid-gap: 15px; }

.hidden { display: none; }
.flexThis { display: flex; }
.fit { max-width: fit-content; }
.blurred { filter: blur(15px); }
.rowThis { flex-direction: row; }
.cursorPointer { cursor: pointer; }
.alignCenter { align-items: center; }
.cursorAuto { cursor: auto !important; }
.transition { transition: var(--transition); }
.spaceBetween { justify-content: space-between !important; }

.flexColumn {
    display: flex;
    flex-direction: column;
}

.invis, .invisible {
    // opacity: 0;
    width: 0 !important;
    pointer-events: none;
    max-width: 0 !important;
}

.cursorGrab {
    cursor: grab !important;
    &:has(:active) {
        cursor: grabbing !important;
    }
}

.highlightSearchMatch {
    border-radius: var(--borderRadius);
}

.useFont {
    font-family: 'Montserrat' !important;
}

.mainColor {
    color: var(--main);
}

.useMainIconColor {
    color: var(--gameBlue) !important;
}

.flexLabel {
    line-height: 1;
    grid-gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex !important;
}

.button {
    @extend .flexLabel;
    color: black;
    cursor: pointer;
    font-size: 14px;
    min-height: 35px;
    background: white;
    border: 0 !important;
    max-height: 35px !important;
    font-weight: 600 !important;
    transition: var(--transition);
    padding: 10.5px 15px !important;
    max-width: fit-content !important;
    min-width: fit-content !important;
    border-radius: var(--borderRadius);
    &:not(.hoverBright) {
        &:hover {
            color: white;
            box-shadow: 0 0 8px 0px black;
            background: var(--authFormButtonBG) !important;
        }
    }
}

@mixin setWidth($width) {
    width: $width !important;
    min-width: $width !important;
    max-width: $width !important;
}

@mixin setHeight($height) {
    height: $height !important;
    min-height: $height !important;
    max-height: $height !important;
}

.w100, .fullw, .fullwidth, .fullW, .fullWidth {
    --fullWidth: 100% !important;
    @include setWidth(var(--fullWidth));
}

.stretch {
    --fullWidth: 100% !important;
    @include setHeight(var(--fullWidth));
    &.boardIndexAndTitle {
        --fullWidth: 74% !important;
    }
}

.skeletonZeroState {
    width: 100%;
    margin: 10px 0;
    padding: 5px 10px;
    background: var(--gameBlueSoft);
    border-radius: var(--borderRadius);
}

.customZeroState {
    width: 100%;
    display: flex;
    font-size: 16px;
    color: silver;
    font-weight: 500;
    text-align: center;
    font-style: italic;
    align-items: center;
    justify-content: center;
    padding: var(--buttonSize);
}

article {
    &:has(main.nx-w-full) {
        padding-top: 10px !important;
        padding-left: max(env(safe-area-inset-left), 1.5rem);
        padding-right: max(env(safe-area-inset-right), 1.5rem);
        main {
            padding: 0;
            width: 100% !important;
            min-width: 100% !important;
            max-width: 100% !important;
            div {
                &.nx-mt-16, &.nx-mb-8 {
                    display: none;
                }
            }
        }
    }
}