.hidden { display: none; }
.flexThis { display: flex; }
.fit { max-width: fit-content; }
.blurred { filter: blur(15px); }
.rowThis { flex-direction: row; }
.transition { transition: var(--transition); }

@mixin setWidth($width) {
    height: $width !important;
    min-height: $width !important;
    max-height: $width !important;
}

.stretch {
    --fullWidth: 100% !important;
    @include setWidth(var(--fullWidth));
    &.boardIndexAndTitle {
        --fullWidth: 74% !important;
    }
}

article {
    &:has(main.nx-w-full) {
        padding-top: 10px !important;
        padding-left: max(env(safe-area-inset-left), 1.5rem);
        padding-right: max(env(safe-area-inset-right), 1.5rem);
        main {
            padding: 0;
            width: 100% !important;
            min-width: 100% !important;
            max-width: 100% !important;
            div {
                &.nx-mt-16, &.nx-mb-8 {
                    display: none;
                }
            }
        }
    }
}